<footer class="footer separator">
  <div class="content__container">
    <p>
     This page was last built on {{ site.buildTime | dateDisplay('LLL d, yyyy')}} &copy; <span class="no-break">Paully D/span>
    </p>
  </div>
</footer>
